<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Index" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}/index.{REQUEST_METHOD}.php" matchType="IsFile" />
                        <add input="{REQUEST_METHOD}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/index.{C:1}.php" />
                </rule>
                <rule name="File" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}.{REQUEST_METHOD}.php" matchType="IsFile" />
                        <add input="{REQUEST_METHOD}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.{C:1}.php" />
                </rule>
                <rule name="AnyIndex" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}/index.php" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/index.php" />
                </rule>
                <rule name="AnyFile" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
